



<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "jquery.orbit.min.js"%>

<%=stylesheet_link_tag 'pages.css.scss'%>

<div id="featured"> 
    <%= image_tag("image 1.jpg",:alt=>"Overflow: Hidden No More") %>
    <%= image_tag("image 2.jpg",:alt=>"Overflow: Hidden No More")%>
    <%= image_tag("image 3.jpg",:alt=>"Overflow: Hidden No More") %>
    <%= image_tag("image 4.jpg",:alt=>"Overflow: Hidden No More") %>
</div>

<p>The  Western Ghats mountain ranges running along western part of  the Indian peninsula  are UNESCO’s World Heritage Site and is considered one of the eight biological hotspots of the world.
</p>


<p><%= image_tag("image 12.jpg",:alt=>"Overflow: Hidden No More",:size =>"450x200") %>
   <%= image_tag("image 13.png",:alt=>"Overflow: Hidden No More",:size =>"450x200") %> </p>




