<!DOCTYPE html>
<html>

<head>
  <title>Coffe,Tee & U | <%= @title %> </title>
  <%=csrf_meta_tag%> 
   <!--[if lt IE 9]>
   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
 <%=stylesheet_link_tag 'application.css'%>
</head>


<body>
  <div class="container">
  <header>
    <%= link_to image_tag("logo.png",:alt=>"logo"),root_path %>
   
    <nav class="menubar">
    <ul>
      <li><%= link_to"Home",root_path %></li>
      <li><%= link_to"Our vision",vision_path%></li>
      <li><%= link_to"Our trail",trail_path%></li>
      <li><%= link_to"Transportation",transport_path%></li>
      <li><%= link_to"Accommodation",accommadition_path%></li>
      <li><%= link_to"Excursions & Activities",activities_path%></li>
      <li><%= link_to"Rates",rates_path%></li>
      <li><%= link_to"Reserve",reserve_path%></li>
      <li><%= link_to"Contact us",contact_path%></li>
    </ul>
   </nav>

 </header>


 <section class="round">
 <%= yield %>
</section>

<footer>
 

</footer>
 </div>
</body>
</html>
